In [1]:
import pandas as pd

In [2]:
import string

In [3]:
def interpret(input, pos):
    if input[pos] == 1: # add
        pos1 = input[pos+1]
        pos2 = input[pos+2]
        pos3 = input[pos+3]
        input[pos3] = input[pos1] + input[pos2]
        return interpret(input, pos + 4)
    elif input[pos] == 2: # multiply
        pos1 = input[pos+1]
        pos2 = input[pos+2]
        pos3 = input[pos+3]
        input[pos3] = input[pos1] * input[pos2]
        return interpret(input, pos + 4)
    elif input[pos] == 99: #Â end
        return input

In [4]:
interpret([1,0,0,0,99], 0)

[2, 0, 0, 0, 99]

In [5]:
interpret([2,3,0,3,99], 0)

[2, 3, 0, 6, 99]

In [6]:
interpret([2,4,4,5,99,0], 0)

[2, 4, 4, 5, 99, 9801]

In [7]:
interpret([1,1,1,4,99,5,6,0,99], 0)

[30, 1, 1, 4, 2, 5, 6, 0, 99]

In [8]:
def load_input():
    with open("input") as infile:
        data = infile.read()
        data = data.rstrip()
        input = data.split(",")
    input = list(map(int, input))
    return input

In [9]:
input = load_input()

In [10]:
input

[1,
 0,
 0,
 3,
 1,
 1,
 2,
 3,
 1,
 3,
 4,
 3,
 1,
 5,
 0,
 3,
 2,
 6,
 1,
 19,
 1,
 19,
 10,
 23,
 2,
 13,
 23,
 27,
 1,
 5,
 27,
 31,
 2,
 6,
 31,
 35,
 1,
 6,
 35,
 39,
 2,
 39,
 9,
 43,
 1,
 5,
 43,
 47,
 1,
 13,
 47,
 51,
 1,
 10,
 51,
 55,
 2,
 55,
 10,
 59,
 2,
 10,
 59,
 63,
 1,
 9,
 63,
 67,
 2,
 67,
 13,
 71,
 1,
 71,
 6,
 75,
 2,
 6,
 75,
 79,
 1,
 5,
 79,
 83,
 2,
 83,
 9,
 87,
 1,
 6,
 87,
 91,
 2,
 91,
 6,
 95,
 1,
 95,
 6,
 99,
 2,
 99,
 13,
 103,
 1,
 6,
 103,
 107,
 1,
 2,
 107,
 111,
 1,
 111,
 9,
 0,
 99,
 2,
 14,
 0,
 0]

In [11]:
input[1] = 12

In [12]:
input[2] = 2

In [13]:
interpret(input, 0)

[4138687,
 12,
 2,
 2,
 1,
 1,
 2,
 3,
 1,
 3,
 4,
 3,
 1,
 5,
 0,
 3,
 2,
 6,
 1,
 24,
 1,
 19,
 10,
 28,
 2,
 13,
 23,
 140,
 1,
 5,
 27,
 141,
 2,
 6,
 31,
 282,
 1,
 6,
 35,
 284,
 2,
 39,
 9,
 852,
 1,
 5,
 43,
 853,
 1,
 13,
 47,
 858,
 1,
 10,
 51,
 862,
 2,
 55,
 10,
 3448,
 2,
 10,
 59,
 13792,
 1,
 9,
 63,
 13795,
 2,
 67,
 13,
 68975,
 1,
 71,
 6,
 68977,
 2,
 6,
 75,
 137954,
 1,
 5,
 79,
 137955,
 2,
 83,
 9,
 413865,
 1,
 6,
 87,
 413867,
 2,
 91,
 6,
 827734,
 1,
 95,
 6,
 827736,
 2,
 99,
 13,
 4138680,
 1,
 6,
 103,
 4138682,
 1,
 2,
 107,
 4138684,
 1,
 111,
 9,
 0,
 99,
 2,
 14,
 0,
 0]

In [14]:
input[0]

4138687

In [15]:
for noun in range(100):
    for verb in range(100):
        input = load_input()
        input[1] = noun
        input[2] = verb
        result = interpret(input, 0)
        if result[0] == 19690720:
            print("Result noun=%d, verb=%d, answer=%d" % (noun, verb, 100*noun + verb))

Result noun=66, verb=35, answer=6635